//Variables for application
//
//


//Table of Contents
//
//


//Namespace: app


//
//Logo
//
$hipLogoSrc: '//cdn.shopify.com/s/files/1/0931/8742/files/hip-logo.png?13731549510413925500';


//
//Defined Colors
//
$app-blue: #2E3192; //35376E	0F115F	6264C9	7D7FC9
$app-green: #21A529;	//317C36	0B6B11	54D25C	75D27B
$app-red: #D12E29;	//9D413F	88110D	E8605D	E88482
$app-yellow: #D1A629;	//9D853F	88690D	E8C45D	E8CE82

$app-blue-shadow: #0F115F;
$app-green-shadow: #0B6B11;
$app-red-shadow: #88110D;
$app-yellow-shadow: #88690D;

$app-blue-lightess: #7D7FC9;
$app-yellow-lightess: #E8CE82;

$app-white: #FFFFFF;
$app-black: #000000;
$app-gray: #E9EAE4;


//
//Screen sizes (breakpoints)
//
$app-sm-break: 544px; //phone or lower
$app-md-break: 768px; //tablet or lower